<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='book_saved.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
<head>
    <title>Книга сохранена</title>
</head>
<body>
    <h1>Книга успешно сохранена!</h1>
    <a href="/">Возвратиться на главную страницу</a>
</body>
</html>